@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

html {
  font-family: "Merriweather";
  font-family: "Modak", cursive;
  font-family: "Zen Antique Soft", serif;

  @apply bg-blue-800;
}

h1 {
  @apply text-white text-5xl font-bold;
  @apply mt-4 mb-6;
}

h2 {
  @apply text-white text-4xl font-bold;
  @apply mt-3 mb-4;
}

p,
li {
  @apply text-white text-3xl font-normal;
  @apply my-2;
}

label {
  @apply text-white;
  @apply text-xl;
  @apply font-bold;
}

select {
  @apply bg-yellow-200 p-1 font-bold;
}

button {
  @apply text-white text-3xl font-normal;
  @apply p-3;
  @apply rounded-lg shadow;
  @apply bg-blue-800;
  @apply hover:bg-blue-700;
}

li {
  @apply list-disc list-inside text-white font-bold;
}

input {
  @apply text-white text-3xl font-normal;
  @apply bg-blue-700  rounded-lg;
  @apply p-3;
}
